In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("/content/3.01. Country clusters.csv")

In [3]:
data.head()

   Country  Latitude  Longitude Language
0      USA     44.97    -103.77  English
1   Canada     62.40     -96.80  English
2   France     46.75       2.40   French
3       UK     54.01      -2.53  English
4  Germany     51.15      10.40   German

In [4]:
new_data=data.iloc[:,1:3]

In [5]:
new_data.head()

   Latitude  Longitude
0     44.97    -103.77
1     62.40     -96.80
2     46.75       2.40
3     54.01      -2.53
4     51.15      10.40

In [6]:
from sklearn.cluster import KMeans
kmeans=KMeans(3) #3 denotes the number of clusters that we shall have

In [7]:
kmeans.fit(new_data)

KMeans(n_clusters=3)

In [8]:
identified_clusters=kmeans.fit_predict(new_data)

In [9]:
identified_clusters

array([0, 0, 2, 2, 2, 1], dtype=int32)