In [ ]:
#define
def add(a,b):
  c=a+b
  print(c)

In [ ]:
#call
add(14,56)

70

In [ ]:
add(90,-45)

45

Create a function which performs all the mathematical operations with respect to two numbers

In [ ]:
def compute(a,b):
  c=a+b
  d=a-b
  e=a*b
  f=a/b

  print(c,d,e,f)

In [ ]:
compute(5,9)

14 -4 45 0.5555555555555556

What is the difference if i am using print() and if i am using return statement

Create a function which takes name and age as input and display the name of the person

In [1]:
def info(name, age):
  print('your name is',name)

In [2]:
info('Aashutosh',28)

your name is Aashutosh

In [3]:
info('Meera',28)

your name is Meera

Create a function which takes name and salary as input and display the salary of the person. Incase the salary is not mentioned, use default salary as 10,000

In [14]:
def data(name, salary=10000):

  print('your salary is',salary)

In [15]:
data('aashutosh')

your salary is 10000

Types of Arguments

1. Arbitrary arguments

2. Keyword arguments

In [16]:
def func1(*child):
  print('youngest child is',child[2])

In [17]:
func1('Ram','Shyam','Meera','Rita')

youngest child is Meera

In [18]:
def func2(child3,child1,child2):
  print("youngest child is",child2)

In [19]:
func2(child1='Ram',child2='Shyam',child3='Rita')

youngest child is Shyam

In [20]:
def func3(**names):
  print('your first name is',names['fname'])

In [21]:
func3(fname='Meera',lname='Mishra')

your first name is Meera

Create a function which checks whether a number is in a given range or not

In [22]:
def check(n):
  if n in range(3,9):
    print(n,'is in the range')

  else:
    print('not in range')

In [23]:
check(5)

5 is in the range

In [24]:
check(0)

not in range

Create a function which takes a list of numbers and returns all the duplicate elements from the list into a new list