Take a number as input from the user and print its multiplication table

In [1]:
num = int(input("enter a number"))

for i in range (1,11):
    print (num*i)

enter a number5
5
10
15
20
25
30
35
40
45
50

Take a list of numbers and display all the even numbers from the list

In [2]:
l1=[90,56,8,43,27,49,23,33]

for i in l1:
  if i%2==0:
    print(i)

  else:
    pass

90
56
8

what if i want to diplay both even and odd numbers from my list at a time ?

what if i want to count both even and odd numbers from my list at a time ?

In [3]:
l1=[90,56,8,43,27,49,23,33]

count_even = 0
count_odd = 0

for i in l1:
  if i%2==0:
    count_even+=1

  else:
    count_odd+=1

print("number of even numbers in the list",count_even)
print("number of odd numbers in the list",count_odd)

number of even numbers in the list 3
number of odd numbers in the list 5

Take a list of numbers and display squares of each number in your list

In [5]:
numbers =[2,5,8,9]

sq_numbers = []

for i in numbers:
  sq_numbers.append(i*i)

print(sq_numbers)

[4, 25, 64, 81]

Statements

PASS

BREAK

CONTINUE

In [8]:
#pass
x=9
y=17

if x>y:
  print('x is greater')

else:
  pass

In [9]:
#break - forcebly terminate the ongoing loop if the given condition is satisfied

fruits=['mango','banana','apple','guava','apricot']

for i in fruits:
  if i=='apple':
    break

  print(i)

mango
banana

In [12]:
name='aashutosh'

for i in name:
  if i=='t':
    break

  print(i,end="")

aashu

In [13]:
#continue - when the condition satisfies, we will skip the mentioned element
fruits=['mango','banana','apple','guava','apricot']

for i in fruits:
  if i=='apple':
    continue

  print(i)

mango
banana
guava
apricot

In [14]:
name='aashutosh'

for i in name:
  if i=='t':
    continue

  print(i,end="")

aashuosh

Display all the numbers between 0-6 except 3 and 6

In [15]:
for i in range (0,7):
    if i == 3 or i == 6:
        continue
     
    print (i)

0
1
2
4
5