NUMPY

In [ ]:
import numpy as np #np is the alias name

In [ ]:
my_list=[1,2,3,4,5]

In [ ]:
type(my_list)

list

In [ ]:
arr=np.array(my_list)

In [ ]:
print(arr)

[1 2 3 4 5]

In [ ]:
type(arr)

numpy.ndarray

In [ ]:
#multinested array
my_list=[1,2,3,4,5]
my_list_2=[4,5,3,5,7]
my_list_3=[3,4,5,1,2]

In [ ]:
arr_new=np.array([my_list,my_list_2,my_list_3])

In [ ]:
print(arr_new)

[[1 2 3 4 5]
 [4 5 3 5 7]
 [3 4 5 1 2]]

In [ ]:
arr_new.shape

(3, 5)

In [ ]:
arr_new.reshape(5,3)

array([[1, 2, 3],
       [4, 5, 4],
       [5, 3, 5],
       [7, 3, 4],
       [5, 1, 2]])

In [ ]:
#generating random numbers

In [ ]:
arr=np.arange(0,10,1)

In [ ]:
print(arr)

[0 1 2 3 4 5 6 7 8 9]

In [ ]:
np.linspace(0,10,600) #600 means that in between the range i will get 50 unique values

array([ 0.        ,  0.01669449,  0.03338898,  0.05008347,  0.06677796,
        0.08347245,  0.10016694,  0.11686144,  0.13355593,  0.15025042,
        0.16694491,  0.1836394 ,  0.20033389,  0.21702838,  0.23372287,
        0.25041736,  0.26711185,  0.28380634,  0.30050083,  0.31719533,
        0.33388982,  0.35058431,  0.3672788 ,  0.38397329,  0.40066778,
        0.41736227,  0.43405676,  0.45075125,  0.46744574,  0.48414023,
        0.50083472,  0.51752922,  0.53422371,  0.5509182 ,  0.56761269,
        0.58430718,  0.60100167,  0.61769616,  0.63439065,  0.65108514,
        0.66777963,  0.68447412,  0.70116861,  0.71786311,  0.7345576 ,
        0.75125209,  0.76794658,  0.78464107,  0.80133556,  0.81803005,
        0.83472454,  0.85141903,  0.86811352,  0.88480801,  0.9015025 ,
        0.91819699,  0.93489149,  0.95158598,  0.96828047,  0.98497496,
        1.00166945,  1.01836394,  1.03505843,  1.05175292,  1.06844741,
        1.0851419 ,  1.10183639,  1.11853088,  1.13522538,  1.15191987,
        1.16861436,  1.18530885,  1.20200334,  1.21869783,  1.23539232,
        1.25208681,  1.2687813 ,  1.28547579,  1.30217028,  1.31886477,
        1.33555927,  1.35225376,  1.36894825,  1.38564274,  1.40233723,
        1.41903172,  1.43572621,  1.4524207 ,  1.46911519,  1.48580968,
        1.50250417,  1.51919866,  1.53589316,  1.55258765,  1.56928214,
        1.58597663,  1.60267112,  1.61936561,  1.6360601 ,  1.65275459,
        1.66944908,  1.68614357,  1.70283806,  1.71953255,  1.73622705,
        1.75292154,  1.76961603,  1.78631052,  1.80300501,  1.8196995 ,
        1.83639399,  1.85308848,  1.86978297,  1.88647746,  1.90317195,
        1.91986644,  1.93656093,  1.95325543,  1.96994992,  1.98664441,
        2.0033389 ,  2.02003339,  2.03672788,  2.05342237,  2.07011686,
        2.08681135,  2.10350584,  2.12020033,  2.13689482,  2.15358932,
        2.17028381,  2.1869783 ,  2.20367279,  2.22036728,  2.23706177,
        2.25375626,  2.27045075,  2.28714524,  2.30383973,  2.32053422,
        2.33722871,  2.35392321,  2.3706177 ,  2.38731219,  2.40400668,
        2.42070117,  2.43739566,  2.45409015,  2.47078464,  2.48747913,
        2.50417362,  2.52086811,  2.5375626 ,  2.5542571 ,  2.57095159,
        2.58764608,  2.60434057,  2.62103506,  2.63772955,  2.65442404,
        2.67111853,  2.68781302,  2.70450751,  2.721202  ,  2.73789649,
        2.75459098,  2.77128548,  2.78797997,  2.80467446,  2.82136895,
        2.83806344,  2.85475793,  2.87145242,  2.88814691,  2.9048414 ,
        2.92153589,  2.93823038,  2.95492487,  2.97161937,  2.98831386,
        3.00500835,  3.02170284,  3.03839733,  3.05509182,  3.07178631,
        3.0884808 ,  3.10517529,  3.12186978,  3.13856427,  3.15525876,
        3.17195326,  3.18864775,  3.20534224,  3.22203673,  3.23873122,
        3.25542571,  3.2721202 ,  3.28881469,  3.30550918,  3.32220367,
        3.33889816,  3.35559265,  3.37228715,  3.38898164,  3.40567613,
        3.42237062,  3.43906511,  3.4557596 ,  3.47245409,  3.48914858,
        3.50584307,  3.52253756,  3.53923205,  3.55592654,  3.57262104,
        3.58931553,  3.60601002,  3.62270451,  3.639399  ,  3.65609349,
        3.67278798,  3.68948247,  3.70617696,  3.72287145,  3.73956594,
        3.75626043,  3.77295492,  3.78964942,  3.80634391,  3.8230384 ,
        3.83973289,  3.85642738,  3.87312187,  3.88981636,  3.90651085,
        3.92320534,  3.93989983,  3.95659432,  3.97328881,  3.98998331,
        4.0066778 ,  4.02337229,  4.04006678,  4.05676127,  4.07345576,
        4.09015025,  4.10684474,  4.12353923,  4.14023372,  4.15692821,
        4.1736227 ,  4.1903172 ,  4.20701169,  4.22370618,  4.24040067,
        4.25709516,  4.27378965,  4.29048414,  4.30717863,  4.32387312,
        4.34056761,  4.3572621 ,  4.37395659,  4.39065109,  4.40734558,
        4.42404007,  4.44073456,  4.45742905,  4.47412354,  4.49081803,
        4.50751252,  4.52420701,  4.5409015 ,  4.55759599,  4.57429048,
        4.59098497,  4.60767947,  4.62437396,  4.64106845,  4.65776294,
        4.67445743,  4.69115192,  4.70784641,  4.7245409 ,  4.74123539,
        4.75792988,  4.77462437,  4.79131886,  4.80801336,  4.82470785,
        4.84140234,  4.85809683,  4.87479132,  4.89148581,  4.9081803 ,
        4.92487479,  4.94156928,  4.95826377,  4.97495826,  4.99165275,
        5.00834725,  5.02504174,  5.04173623,  5.05843072,  5.07512521,
        5.0918197 ,  5.10851419,  5.12520868,  5.14190317,  5.15859766,
        5.17529215,  5.19198664,  5.20868114,  5.22537563,  5.24207012,
        5.25876461,  5.2754591 ,  5.29215359,  5.30884808,  5.32554257,
        5.34223706,  5.35893155,  5.37562604,  5.39232053,  5.40901503,
        5.42570952,  5.44240401,  5.4590985 ,  5.47579299,  5.49248748,
        5.50918197,  5.52587646,  5.54257095,  5.55926544,  5.57595993,
        5.59265442,  5.60934891,  5.62604341,  5.6427379 ,  5.65943239,
        5.67612688,  5.69282137,  5.70951586,  5.72621035,  5.74290484,
        5.75959933,  5.77629382,  5.79298831,  5.8096828 ,  5.8263773 ,
        5.84307179,  5.85976628,  5.87646077,  5.89315526,  5.90984975,
        5.92654424,  5.94323873,  5.95993322,  5.97662771,  5.9933222 ,
        6.01001669,  6.02671119,  6.04340568,  6.06010017,  6.07679466,
        6.09348915,  6.11018364,  6.12687813,  6.14357262,  6.16026711,
        6.1769616 ,  6.19365609,  6.21035058,  6.22704508,  6.24373957,
        6.26043406,  6.27712855,  6.29382304,  6.31051753,  6.32721202,
        6.34390651,  6.360601  ,  6.37729549,  6.39398998,  6.41068447,
        6.42737896,  6.44407346,  6.46076795,  6.47746244,  6.49415693,
        6.51085142,  6.52754591,  6.5442404 ,  6.56093489,  6.57762938,
        6.59432387,  6.61101836,  6.62771285,  6.64440735,  6.66110184,
        6.67779633,  6.69449082,  6.71118531,  6.7278798 ,  6.74457429,
        6.76126878,  6.77796327,  6.79465776,  6.81135225,  6.82804674,
        6.84474124,  6.86143573,  6.87813022,  6.89482471,  6.9115192 ,
        6.92821369,  6.94490818,  6.96160267,  6.97829716,  6.99499165,
        7.01168614,  7.02838063,  7.04507513,  7.06176962,  7.07846411,
        7.0951586 ,  7.11185309,  7.12854758,  7.14524207,  7.16193656,
        7.17863105,  7.19532554,  7.21202003,  7.22871452,  7.24540902,
        7.26210351,  7.278798  ,  7.29549249,  7.31218698,  7.32888147,
        7.34557596,  7.36227045,  7.37896494,  7.39565943,  7.41235392,
        7.42904841,  7.4457429 ,  7.4624374 ,  7.47913189,  7.49582638,
        7.51252087,  7.52921536,  7.54590985,  7.56260434,  7.57929883,
        7.59599332,  7.61268781,  7.6293823 ,  7.64607679,  7.66277129,
        7.67946578,  7.69616027,  7.71285476,  7.72954925,  7.74624374,
        7.76293823,  7.77963272,  7.79632721,  7.8130217 ,  7.82971619,
        7.84641068,  7.86310518,  7.87979967,  7.89649416,  7.91318865,
        7.92988314,  7.94657763,  7.96327212,  7.97996661,  7.9966611 ,
        8.01335559,  8.03005008,  8.04674457,  8.06343907,  8.08013356,
        8.09682805,  8.11352254,  8.13021703,  8.14691152,  8.16360601,
        8.1803005 ,  8.19699499,  8.21368948,  8.23038397,  8.24707846,
        8.26377295,  8.28046745,  8.29716194,  8.31385643,  8.33055092,
        8.34724541,  8.3639399 ,  8.38063439,  8.39732888,  8.41402337,
        8.43071786,  8.44741235,  8.46410684,  8.48080134,  8.49749583,
        8.51419032,  8.53088481,  8.5475793 ,  8.56427379,  8.58096828,
        8.59766277,  8.61435726,  8.63105175,  8.64774624,  8.66444073,
        8.68113523,  8.69782972,  8.71452421,  8.7312187 ,  8.74791319,
        8.76460768,  8.78130217,  8.79799666,  8.81469115,  8.83138564,
        8.84808013,  8.86477462,  8.88146912,  8.89816361,  8.9148581 ,
        8.93155259,  8.94824708,  8.96494157,  8.98163606,  8.99833055,
        9.01502504,  9.03171953,  9.04841402,  9.06510851,  9.08180301,
        9.0984975 ,  9.11519199,  9.13188648,  9.14858097,  9.16527546,
        9.18196995,  9.19866444,  9.21535893,  9.23205342,  9.24874791,
        9.2654424 ,  9.28213689,  9.29883139,  9.31552588,  9.33222037,
        9.34891486,  9.36560935,  9.38230384,  9.39899833,  9.41569282,
        9.43238731,  9.4490818 ,  9.46577629,  9.48247078,  9.49916528,
        9.51585977,  9.53255426,  9.54924875,  9.56594324,  9.58263773,
        9.59933222,  9.61602671,  9.6327212 ,  9.64941569,  9.66611018,
        9.68280467,  9.69949917,  9.71619366,  9.73288815,  9.74958264,
        9.76627713,  9.78297162,  9.79966611,  9.8163606 ,  9.83305509,
        9.84974958,  9.86644407,  9.88313856,  9.89983306,  9.91652755,
        9.93322204,  9.94991653,  9.96661102,  9.98330551, 10.        ])

In [ ]:
np.random.rand(3,4)#3 is the number of rows and 4 is the number of columns
#default range is 0-->1
#the numbers in the array will change randomly everytime we run the cell

array([[0.75810564, 0.47577389, 0.15807698, 0.95759364],
       [0.1646917 , 0.7441578 , 0.15687477, 0.23409529],
       [0.69724435, 0.77789271, 0.84738116, 0.53025515]])

In [ ]:
np.random.randint(1,20,30) #30 denotes the number of random values that we get in the specifed range of 1-20
#the numbers in the array will change randomly everytime we run the cell

array([ 6, 10, 19, 18,  2,  4, 19,  1, 12, 14,  8,  8, 14,  3, 18,  9, 14,
        5, 13, 17, 11, 13,  5,  4, 13, 13,  3, 12,  6, 16])

PANDAS

In [6]:
import pandas as pd

In [7]:
#reading a dataset
data=pd.read_csv("/content/tips.csv")

In [8]:
data.head()#shows the first 5 rows of the dataset

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
data.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [10]:
data.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [12]:
data.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [13]:
#create your own dataset

In [17]:
import numpy as np

In [18]:
my_data=pd.DataFrame(np.arange(0,20).reshape(5,4), index=['row1','row2','row3','row4','row5'],columns=['col1','col2','col3','col4'])

In [19]:
print(my_data)

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [20]:
my_data.to_csv('sunday_demo_file.csv')

In [21]:
my_data.to_excel('sunday_demo_file.xlsx')

In [21]:
#.loc()
#.iloc()

In [23]:
print(my_data)

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [25]:
my_data.iloc[2:4,2:]

      col3  col4
row3    10    11
row4    14    15

In [26]:
my_data

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [27]:
my_data.iloc[0:3,0:2]

      col1  col2
row1     0     1
row2     4     5
row3     8     9