In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("/content/Social_Network_Ads.csv")

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
#dropping the userid column
df=data.drop(['User ID'],axis=1)

In [5]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [6]:
df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [7]:
df['Gender']=df['Gender'].apply({'Male':0,'Female':1}.get)

In [8]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       0   19            19000          0
1       0   35            20000          0
2       1   26            43000          0
3       1   27            57000          0
4       0   19            76000          0

In [9]:
x=df[['Gender','Age','EstimatedSalary']] #independent columns
y=df['Purchased'] #dependent column

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [29]:
#importing KNN Classfier
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=11)

In [30]:
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=11)

In [31]:
predictions=knn.predict(x_test)

In [32]:
#accuracy
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,predictions)
ac=accuracy_score(y_test,predictions)

In [33]:
print(cm)

[[53  6]
 [ 7 14]]

In [34]:
print(ac)

0.8375